{{#post}}
    <div class="row">
        <header id="blog-view-header" class="headroom">
            <div>
                <button onclick="javascript:smallScreenPageChange(1)" class="btn">< Back</button>
            </div>
        </header>
        <article class="blog-view-container {{post_class}}">
            <header>
                <div class="blog-view-title">
	                {{title}}
                </div>
                <div class="blog-view-date">
					{{date format="YYYY-MM-DD"}}
                </div>
            </header>
            <hr>
            <div class="blog-view-content">
				{{content}}
            </div>
        </article>
    </div>
{{/post}}
