<div class="row">
    <div class="list-group scroll">
        <div class="list-container">
            {{#foreach posts}}
                {{> blog_excerpt}}
            {{/foreach}}
        </div>
        {{pagination}}
    </div>
</div>