{{#post}}
    <div class="row">
        <article class="blog-view-container scroll {{post_class}}">
            <header>
                <div class="blog-view-title">
	                {{title}}
                </div>
                <div class="blog-view-date">
					{{date format="YYYY年MM月DD日"}}
                </div>
            </header>
            <hr>
            <div class="blog-view-content">
				{{content}}
            </div>
        </article>
    </div>
{{/post}}