<div class="row">
    <div class="tag-list-group scroll">
        <header class="list-group-item tag-stats">
            <div class="tag-stats-header">
                {{tag.name}}
            </div>
            <div class="tag-stats-count">
                {{pagination.total}} articles
            </div>
        </header>
        {{#foreach posts}}
            {{> blog_excerpt}}
        {{/foreach}}
    </div>
    {{pagination}}
</div>