{{!< default}}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3" id="navigation">
			{{navigation}}
        </div>
        <div class="col-lg-4 col-md-5" id="blog-list">
			{{> "blog-list"}}
        </div>
        <div class="col-md-16 col-lg-18" id="blog-view">
			{{> "blog-view"}}
        </div>
    </div>
</div>