{{!< default}}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-3" id="left-bar">
            <div class="row">
                <div class="col-xs-4 col-md-4" id="navigation">
                    {{navigation}}
                </div>
                <div class="col-xs-8 col-md-8" id="blog-list">
                    {{> "tag-blog-list"}}
                </div>
            </div>
        </div>
        <div class="hidden-xs hidden-sm col-xs-12 col-md-8 col-lg-9" id="blog-view">
            {{> "blog-view"}}
        </div>
    </div>
</div>